[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "==0.10.2"
img2pdf = "*"
ocrmypdf = "*"

[dev-packages]
pytest = "*"
pytest-print = "*"
pytest-optional-tests = "*"

[requires]
python_version = "3.9"
